body {
  background: #050a07;
  color: white;
  font-family: Arial;
}

.container {
  width: 320px;
  margin: auto;
  margin-top: 40px;
}

select, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  background: #00ff8c;
  border: none;
  font-weight: bold;
}
